.item{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 17px;
}

.item span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.showLength,
.down,
.up{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showLength{
    background-color: #008cff;
}

.up{
    background-color: #00ff00;
    cursor: pointer;
}

.up::after{
    font-family: FontAwesome;
    content: '\f176';
    font-size: 15px;
}

.down{
    background-color: #ff3c00;
    cursor: pointer;
    font-size: 15px;
}

.down::after{
    font-family: FontAwesome;
    content: '\f175';
}

#disable{
    opacity: .3;
}

.item p{
    color: #fff;
}