.home {
  width: 100%;
  height: fit-content;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 0 70px 0;
}

.home a{
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .home {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  #home_hight{
    height: 0;
  }
}
