.dotCounter{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0 70px 0;
}

.dotCounter > div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.dotCounter div input{
    border: none;
    outline: none;
    background-color: #4eff9b;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px 10px;
    width: 80%;
    font-size: 17px;
}

.dotCounter div input::placeholder{
    color: #383737;
}

.counter{
    background-color: #353d66;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 20px;
    margin-top: 25px;
}

@media only screen and (max-width : 768px) {
    .dotCounter > div{
        width: 70%;
    }
}
@media only screen and (max-width : 576px) {
    .dotCounter > div{
        width: 100%;
    }

    .dotCounter div input{
        font-size: 15px;
    }
}