.boxBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.start,
.reset,
.resume,
.stop {
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 25px;
  margin-left: 20px;
}

.start {
  background-color: #00ff00;
}

.stop {
  background-color: #ff5100;
}

.resume {
  background-color: #008cff;
  margin-left: 20px;
}
.reset {
  background-color: #ffcb00;
}

@media only screen and (max-width: 400px) {
  .start,
  .reset,
  .resume,
  .stop {
    width: 100px;
    padding: 5px;
  }
}
