.header {
  width: 100%;
  height: 50px;
  background-color: #1c1b22;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header .opne {
  display: none;
}

@media only screen and (max-width: 992px) {
  .header {
    width: 100%;
    right: 5%;
  }
}

@media only screen and (max-width: 576px) {
  .header .opne {
    cursor: pointer;
    display: block;
  }
}
